<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- 注意这个重要性！！！ -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>

    <context:component-scan base-package="com.test" />

        <!-- 乐器 -->
    <bean id="piano" class="com.test.one.Piano" />
    <bean id="guitar" class="com.test.one.Guitar" />
    <bean id="guitar3" class="com.test.three.autowired.Guitar3" />

    <bean id="Ketty3"
        class="com.test.three.autowired.Instrumentalist3">
    </bean>

    <!-- 使用 Inject 的方式 -->
    <bean id="Ketty3-1"
        class="com.test.three.inject.Instrumentalist3">
    </bean>
</beans>
