<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Stage -->
    <bean id="theStage"
        class="com.test.Stage"
        factory-method="getInstance"
        init-method="turnOn"
        destroy-method="turnOff"/>

    <bean id="jack" class="com.test.one.Skiller">
        <constructor-arg value="15"/>
    </bean>

    <bean id="loveStory" class="com.test.one.LoveStory"/>
    <bean id="singJack" class="com.test.one.SingSkiller">
        <constructor-arg value="#{14+1}"/>
        <constructor-arg ref="loveStory"/>
    </bean>

    <!-- 乐器 -->
    <bean id="piano" class="com.test.one.Piano"
        autowire-candidate="false" />
    <bean id="guitar" class="com.test.one.Guitar" />

    <bean id="Ketty"
        class="com.test.one.Instrumentalist">
        <property name="song" value="#{'Love Story'}" />
        <property name="instrument" ref="piano" />
    </bean>

    <bean id="Ketty Copy"
        class="com.test.one.Instrumentalist">
        <property name="song" value="#{Ketty.song?.toUpperCase()}" />
        <property name="instrument" ref="piano" />
    </bean>

    <bean id="Hank"
        class="com.test.one.OneBand">
        <property name="instruments">
            <map>
                <entry key="PIANO" value-ref="piano" />
                <entry key="GUITAR" value-ref="guitar" />
            </map>
        </property>
        <property name="instrumentsSummary">
            <props>
                <prop key="PIANO">PIANO</prop>
                <prop key="GUITAR">GUITAR</prop>
            </props>
        </property>
    </bean>

    <!-- 三. 自动装配 -->
    <!-- 1. byName:变量名字和 bean 对象的 id 一样（当然前提是对象一致） -->
    <bean id="instrument"
        class="com.test.one.Piano"
        autowire-candidate="false" /><!-- 针对 byType 时可以作为非候选 -->
    <bean id="Ketty1"
        class="com.test.one.Instrumentalist"
        autowire="byName">
        <property name="song" value="#{'Love Story'}" />
    </bean>
    <!-- 2. byType: 相同类型的有多个时会抛错，每个bean都有一个 primary 属性，但默认都是true -->
    <bean id="Ketty2"
        class="com.test.one.Instrumentalist"
        autowire="byType">
        <property name="song" value="#{'Love Story'}" />
    </bean>
    <!-- 3. constructor 自动装配（和 byType 一样受限） -->
    <bean id="singJack1" class="com.test.one.SingSkiller"
        autowire="constructor">
    </bean>
    <!-- 4. autodetect 一直出错-->
</beans>
